body{
    background-color: rgb(203, 192, 192);
    color: #fff
}
.container {
    width: 70%;
    margin: 100px auto 0;
    display: flex;
    background-color: #c0c3d1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.container .left-container img {
    width: 500px;
    height: 500px;
    margin-bottom: -8px;
}

.container .right-container {
    width: 100%;
    padding: 70px;
}

.container .right-container h2, .container .right-container p {
    color: rgb(18, 9, 9);
}

.right-container form {
    margin-top: 20px;
}

form input {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px 10px;
}

form p {
    font-size: 13px;
    margin-top: 8px;
    text-decoration: none;
    color: rgb(11, 3, 3);
}
.register{
    color: var(--main-color);
}
.btn1 {
    margin-top: 20px;
    font-size: 12px;
    padding: 5px 18px;
    color: black;
    background-color: rgb(49, 49, 214);
}

@media (min-width: 1200px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        width: 85%;
    }

    .container .left-container img {
        width: 100%;
        margin: 0 auto;
    }

    .container .right-container {
        padding: 50px 20px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .container .left-container, .container .right-container {
        padding: 20px;
    }

    form input, .btn1 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    .container .right-container {
        padding: 20px 10px;
    }

    form input, .btn1 {
        font-size: 14px;
        padding: 10px;
    }
}
