    .upload {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(203, 192, 192);
    border-radius:20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    color: #000;
}

.upload h2 {
    color: var(--main-color);
    text-align: center;
    color: #000;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
    margin-bottom: 20px;
}

.button {
    background-color: #4CAF50;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45b549;
}

table {
    width: 83%;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #555;
}

th {
    background-color: #333;
}

td {
    background-color: #222;
}

